<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Add message</title>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/bootstrap.min.js"></script>
</head>
<body>
<h1>Add</h1>
<form th:method="POST" th:object="${message}" th:action="@{/messages/new}">
    <label for="phoneNumber">Phone number: </label>
    <input type="number" th:field="*{phoneNumber}" id="phoneNumber"/>
    <br/>
    <label for="messageText">Message text: </label>
    <input type="text" th:field="*{messageText}" id="messageText"/>
    <br/>
    <input class="btn btn-success" type="submit" value="Save"/>
</form>
</body>
</html>